<!-- productos.component.html -->
<h2>Productos Fabricados</h2>

<mat-card *ngIf="error" color="warn" class="mat-elevation-z2">
  <p>{{ error }}</p>
</mat-card>

<mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>

<mat-list>
  <mat-list-item *ngFor="let producto of productos">
    <strong>{{ producto.codigoSerie }}</strong> --- {{ producto.id }}
    
  </mat-list-item>
</mat-list>

<hr />

<h3>Fabricar Nuevo Producto</h3>

<form (ngSubmit)="fabricarProducto()" class="product-form" #form="ngForm">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Código</mat-label>
    <input matInput [(ngModel)]="nuevoProducto.codigoSerie" name="codigo" required />
  </mat-form-field>


  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Cantidad</mat-label>
    <input matInput type="number" [(ngModel)]="nuevoProducto.cantidad" name="cantidad" required />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    Fabricar
  </button>
</form>
